<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'createPost'}" class="btn btn-success">Create new post</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Posts list</div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="post, index in posts">
                        <td>{{ post.title }}</td>
                        <td>{{ post.content }}</td>
                        <td>
                            <router-link :to="{name: 'editPost', params: {id: post.id}}" class="btn btn-xs btn-primary">Edit</router-link>
                            <a href="#" class="btn btn-xs btn-danger" v-on:click="deleteEntry(post.id, index)">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                posts: []
            }
        },
        mounted() {
            let app = this;

            axios.get('/posts')
                .then(function (resp) {
                    app.posts = resp.data.posts;
                })
                .catch(function (resp) {
                    console.log(resp);

                    alert("Could not load posts");
                });
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    let app = this;

                    axios.delete('/posts/' + id)
                        .then((response) => {
                            app.posts.splice(index, 1);
                        })
                        .catch((error) => {
                            console.log(error.response.status);
                            console.log(error.response.data);

                            alert("Could not delete post");
                        });
                }
            }
        }
    }
</script>
