<template>
	<div>
		<div class="form-group">
			<router-link to="/" class="btn btn-default">Back</router-link>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Create new post</div>
			<div class="panel-body">
				<form v-on:submit="savePost()">
					<div class="row">
						<div class="col-xs-12 form-group">
							<label for="title" class="control-label">Title</label>
							<input type="text" id="title" v-model="post.title" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 form-group">
							<label for="content" class="control-label">Content</label>
							<textarea id="content" v-model="post.content" cols="51" rows="5" class="form-control"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 form-group">
							<button class="btn btn-success">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
    export default {
        data: function () {
            return {
                post: {
                    title: '',
                    content: '',
                }
            }
        },
        methods: {
            savePost() {
                event.preventDefault();

				let app     = this;
				let newPost = app.post;

                axios.post('/posts', newPost)
                    .then((response) => {
                        app.$router.push({path: '/'});
                    })
                    .catch((error) => {
                        console.log(error.response.status);
                        console.log(error.response.data);

                        alert("Could not create your post");
                    });
            }
        }
    }
</script>
